body {
    text-align: center;
}

#board {
    background-image: url("./img/Design\ sem\ nome\ \(1\).png");

    img {
        max-width: 100%; 
        height: auto; 
        display: block; 
      }
      
}

h1 { 
    font-family: Stick;
}